
GEMINI_API_KEY=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
ELEVENLABS_API_KEY=76bd8df422dd86b4d5cd357a13f8620d11fbbb9cb17bc0ba5c2427ee7099fb88
ELEVENLABS_VOICE_ID="agent_0901k9c4ay4afym87m7p8beshsm5"